.moviename.ng-valid {
    background-color: lightgreen;
}
.moviename.ng-dirty.ng-invalid-required {
    background-color: red;
}
.moviename.ng-dirty.ng-invalid-minlength {
    background-color: yellow;
}

.url.ng-valid {
    background-color: lightgreen;
}
.url.ng-dirty.ng-invalid-required {
    background-color: red;
}
.url.ng-dirty.ng-invalid-email {
    background-color: yellow;
}

.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
}
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
}